.project-container {
    padding-block-start: 20px;
    padding-block-end: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project-intro {
    text-align: center;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.project h2 {
    font: var(--headline5);
    text-align: center;
}

.arrow {
    inline-size: 80px;
    block-size: 84px;
}

.project {
    padding-block-start: 40px;
    padding-block-end: 40px;
}




.project-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

}

.project-image img {
    max-inline-size: 100%;
    
}


@media screen and (min-width: 768px) {
    .project {
        display: flex;
        align-items: center;
        gap: 32px;
        padding-block-start: 80px;
        padding-block-end: 80px;
    }

    .project-description {
        flex:1;
    }

    .project:nth-of-type(1) .project-image,
    .project:nth-of-type(5) .project-image {
        order: 2;
        flex: 1;
        text-align: center;
       
    }

    
}




